<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Admin Panel')}"></div>
<body>
<!-- Responsive navbar-->
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container" th:if="${!currentUser.adminStatus}">
        <div class="text-center my-5">
            <h1 class="fw-bolder">You must be an admin to see this page.</h1>
        </div>
    </div>
    <div class="container" th:if="${currentUser.adminStatus}">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Admin panel</h1>
        </div>
    </div>

</header>
<!-- Page content-->
<div class="container" th:if="${currentUser.adminStatus}">
    <div class="row">
        <div class="col-lg-4">
            <!-- User screen-->
            <div th:fragment="user-panel" th:if="${isAuthenticated}" class="card mb-4">
                <div class="card-header">User
                    <b>
                        <span th:if="${currentUser.banStatus}" th:style="'color: red;'">[Banned]</span>
                        <span th:unless="${currentUser.banStatus}" th:style="'color: green;'">[Active]</span>
                    </b></div>
                <div class="d-flex margin-top-left">
                    <div class="flex-shrink-0">
                        <img class="rounded-circle"
                             th:src="${currentUser.photoUrl != null ? (currentUser.photoUrl.startsWith('/') ? currentUser.photoUrl : '/' + currentUser.photoUrl) : '@{/assets/users/defaultUser.png}'}"
                             style="max-width: 65px; max-height: 65px;"/>
                    </div>
                    <div class="d-flex flex-column justify-content-center ml-3">
                        <div class="card-body"> You've logged in as <b><span
                                th:text="${currentUser.username}"></span></b> </br>
                            Your current role is
                            <b><span th:if="${currentUser.adminStatus}">admin</span></b>
                            <b> <span th:unless="${currentUser.adminStatus}">regular user</span></b>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a th:href="@{/users/edit}" href="#!">Change details</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a th:href="@{/users/admin}" th:if="${currentUser.adminStatus}" href="#!">Admin panel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Blog entries-->
        <div class="col-lg-8">

            <div th:fragment="filter" class=" card mb-4">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <form class="input-group" action="#" th:action="@{/users/admin}" method="get"
                          th:object="${filterOptions}">
                        <input class="form-control" type="text" placeholder="Username" th:field="*{username}"
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <input class="form-control" type="text" placeholder="First name" th:field="*{firstName}"
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <input class="form-control" type="text" placeholder="Last name" th:field="*{lastName}"
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <input class="form-control" type="text" placeholder="E-mail" th:field="*{email}"
                               aria-label="Enter search term..." aria-describedby="button-search"/>
                        <button class="btn btn-primary" id="button-search" type="submit" value="search">🔍 Search️
                        </button>
                    </form>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <select class="card-header" th:field="*{filterOptions.sortBy}" style="width: 200px;">
                        <option value="">Sort By</option>
                        <option value="username">Username</option>
                        <option value="firstName">First Name</option>
                        <option value="lastName">Last Name</option>
                        <option value="email">Email</option>
                    </select>
                    <span style="margin-left: 10px;"><select class="card-header" th:field="*{filterOptions.sortOrder}"
                                                             style="width: 200px;">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select></span>
                </div>
                <table style="margin: 20px; margin-right: 0; float: right;">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Banned</th>
                    </tr>
                    <tr th:each="result : ${users}">
                        <td th:text="${result.username}"></td>
                        <td th:text="${result.firstName}"></td>
                        <td th:text="${result.lastName}"></td>
                        <td th:text="${result.email}"></td>
                        <td class="center" style="text-align: center;">
                            <span th:if="${result.adminStatus}">👑</span>
                            <span th:if="${!result.adminStatus}"></span>
                        </td>
                        <td style="text-align: center;">
                            <span th:if="${result.banStatus}">⛔</span>
                            <span th:if="${!result.banStatus}"></span>
                        </td>

                        <td th:if="${!result.adminStatus}">
                            <form th:action="@{/users/__${result.userId}__/admin/promote}" method="post">
                                <button type="submit" class="btn btn-primary">Promote</button>
                            </form>
                        </td>

                        <td th:if="${result.adminStatus}">
                            <form th:action="@{/users/__${result.userId}__/admin/demote}" method="post">
                                <button type="submit" class="btn btn-primary">Demote</button>
                            </form>
                        </td>

                        <td th:if="${result.banStatus}">
                            <form th:action="@{/users/__${result.userId}__/admin/unban}" method="post">
                                <button type="submit" class="btn btn-primary">Unban</button>
                            </form>
                        </td>

                        <td th:if="${!result.banStatus}">
                            <form th:action="@{/users/__${result.userId}__/admin/ban}" method="post">
                                <button type="submit" class="btn btn-primary">Ban</button>
                            </form>
                        </td>
                        </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Footer-->
<div th:replace="~{/fragments/PageFrame :: footer}"></div>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>
