<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="error-wrap">
    <img class="error-bg" src="../static/assets/1_F79yInLiOH9pnXCfZXImOw.webp" th:src="@{/assets/1_F79yInLiOH9pnXCfZXImOw.webp}" alt="">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <!--        <div class="error-content">-->
        <!--            <h3 class="display-1 fw-bold" th:text="${statusCode}">HTTP Status Code</h3>-->
        <!--            <p class="fs-3 text-danger">Oops!</p>-->
        <!--            <p th:unless="${error == null}" class="error" th:text="${error}">Error placeholder</p>-->

        <!--            <a href="HomeView.html" class="btn btn-primary" th:href="@{/}">Go Home</a>-->
        <!--        </div>-->
    </div>
</div>
</body>
</html>