<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Contact')}"></div>
<link rel="stylesheet" type="text/css" href="/css/contact.css">

<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Here is our Awesome Team!</h1>
            <p class="lead mb-0">Software Engineers.</p>
        </div>
    </div>
</header>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/assets/Grisha.png" alt="Grisha" style="max-width:100%">
            <div class="container">
                <h2>Grisha Daradzhanov</h2>
                <p class="title">Developer</p>
                <p>daradjanov@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/grisha-daradjanov-b2b6b02a7/" class="button">Contact me!</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/Georgi.png" alt="Georgi" style="max-width:100%">
            <div class="container">
                <h2>Georgi Valchanov</h2>
                <p class="title">Developer</p>
                <p>valchanov.biz@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/g-valchanov/" class="button" >Contact me!</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/Katrin.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Katrin Panayotova</h2>
                <p class="title">Developer</p>
                <p>Kpanayotova98@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/katrinpanayotova?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="button">Contact me!</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>