<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Edit account')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<br/><br/>
<div class="card-body-centered">
    <div class="card mb-4">
        <div class="card-header">Edit user details</div>
        <div class="card-body">
            <form action="#" th:action="@{/users/edit}" th:object="${currentUser}" method="post">
                <label th:text="#{user.label.first-name}">First Name</label>
                <br/>
                <input type="text" th:field="*{firstName}" th:value="${currentUser.firstName}"/>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{firstName}">First name
                error placeholder</label>
                <br/>

                <label th:text="#{user.label.last-name}">Last Name</label>
                <br/>
                <input type="text" th:field="*{lastName}"/>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{lastName}">Last name
                error placeholder</label>
                <br/>

                <label th:text="#{user.label.email}">Email</label>
                <br/>
                <input type="text" th:field="*{email}"/>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{email}">Email error
                placeholder</label>
                <br/>

                <label th:text="#{user.label.password}">Last Name</label>
                <br/>
                <input type="text" th:field="*{password}"/>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{password}">Last name
                error placeholder</label>
                <br/>

                <label th:text="#{user.label.photo-url}">Last Name</label>
                <br/>
                <input type="text" th:field="*{photoUrl}"/>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{photoUrl}">Last name
                error placeholder</label>
                <br/>

                <div th:if="${session.isAdmin}">
                    <label th:text="#{user.label.phone-number}">Last Name</label>
                    <br/>
                    <input type="text" th:field="*{phoneNumber.phoneNumber}"/>
                    <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{phoneNumber}">Last
                    name
                    error placeholder</label>
                    <br/>
                </div>


                <input class="btn btn-primary" type="submit" value="Submit"></input>
            </form>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">Profile picture preview</div>
        <div class="card-body">
            <div class="flex-shrink-0">
                <img class="rounded-profile"
                     th:src="${currentUser.photoUrl != null ? (currentUser.photoUrl.startsWith('http') ? currentUser.photoUrl : '@{/}' + currentUser.photoUrl) : '@{/assets/users/defaultUser.png}'}"
                     style="max-height: 428px;"/>
            </div>
        </div>
    </div>
</div>
<br/>
<div th:replace="~{fragments/PageFrame :: footer}"></div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>