<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('New Post')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Create New Post</h1>
        </div>
    </div>
</header>

<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">

            <form action="#" th:action="@{/posts/new}" th:object="${newPost}" th:method="post" class="mb-4">

                <br/>
                <input class="form-control" rows="3" th:field="*{title}" placeholder="Write your title..."></input>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{title}">Title error placeholder</label>


                <textarea class="form-control" rows="3" id="symbolTextArea" oninput="countSymbols()" th:field="*{content}" placeholder="Write your content..." style="height: 12rem" ></textarea>
                <p>Number of symbols: <span id="symbolCount">0</span></p>
                <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{content}">Content error placeholder</label>
                <br/>

                <input class="btn btn-primary" type="submit" value="Submit"/>


            </form>
        </div>
    </div>
</section>

<br/>
<div th:replace="~{/fragments/PageFrame :: footer}"></div>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
<script>
    function countSymbols() {
        const input = document.getElementById('symbolTextArea');
        const count = document.getElementById('symbolCount');
        count.textContent = input.value.length;
    }

</script>

</body>
</html>