<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Post')}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
<!-- Responsive navbar-->
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${post.title}">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="${post.creationDate}">Posted on January 1, 2023 by
                        Start Bootstrap
                    </div>
                    <div class="text-muted fst-italic mb-2" th:text="${'Author: ' + post.creator.username}">Creator
                    </div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!" th:each="tags : ${tags}"
                       th:text="${tags.getContent()}">Deff</a>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text="${post.content}">Science is an enterprise that should be cherished as
                        an activity of the free human mind. Because it transforms who we are, how we live, and it gives
                        us an understanding of our place in the universe.</p>
                </section>

                <form id="likeForm" th:action="@{/posts/like}" method="post"
                      style="display: flex; align-items: center; justify-content: space-between;">


                    <!--                    <button type="submit"-->
                    <!--                            style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;">-->
                    <!--                        <a href="#" style="text-decoration: none;">-->
                    <!--                            <i class="fas fa-thumbs-up fa-xs"></i>-->
                    <!--                            <span class="small">👍 Like</span>-->
                    <!--                        </a>-->
                    <!--                    </button>-->

                    <div class="button">
                        <input type="checkbox" id="liked" name="like" onclick="toggleLike()">
                        <label for="liked">
                            <i class="fas fa-thumbs-up fa-xs"></i>
                            <span id="likeCount" th:text="${post.getLikedByUser().size()}"></span>
                        </label>
                        <!--                        <label for="liked"><span id="likeCount" th:text="${post.getLikedByUser().size()}"></span></label>-->
                        <link rel="stylesheet" type="text/css" href="/css/button.css">
                    </div>

                    <div style="display: flex; justify-content: flex-end;">

                        <div style="margin-right: 10px;" th:if="${post.creator.getUsername() == session.currentUser}">
                            <a href="#" th:href="@{__${requestURI}__/update}" class="btn btn-primary">Edit</a>
                        </div>

                        <div th:if="${session.isAdmin}" style="margin-right: 10px;">
                            <h3>|</h3>
                        </div>

                        <div th:if="${session.isAdmin} or ${post.creator.getUsername() == session.currentUser}">
                            <a href="#" th:href="@{__${requestURI}__/delete}" class="btn btn-primary">Delete</a>
                        </div>

                    </div>

                </form>
                <br>

            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <form action="#" th:action="@{/posts/submitComment}" th:object="${commentDto}" th:method="post"
                              class="mb-4">
                            <br/>
                            <!--                            <textarea class="form-control" rows="3" th:field="*{content}"-->
                            <!--                                      placeholder="Write your comment..."></textarea>-->
                            <!--                            <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{content}">Content error placeholder</label>-->

                            <input class="form-control" rows="3" type="text" th:field="*{content}"
                                   placeholder="Write your comment..." style="height: 12rem" required></input>
                            <br/><label class="error" style="color: red; font-weight: normal;" th:errors="*{content}">Content
                            error placeholder</label>

                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </form>
                        <div class="row d-flex justify-content-center">
                            <div class="mb-4" th:each="singleComment : ${comments}">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex flex-start">
                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                         th:src="${singleComment.creator.photoUrl != null ? (singleComment.creator.photoUrl.startsWith('/') ? singleComment.creator.photoUrl : '/' + singleComment.creator.photoUrl) : '@{/assets/users/defaultUser.png}'}"
                                                         alt="avatar" width="65"
                                                         height="65"/>
                                                    <div class="flex-grow-1 flex-shrink-1">
                                                        <div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <b><p class="mb-1"
                                                                      th:text="${singleComment.creator.username}">
                                                                    Maria Smantha <span
                                                                        class="small">- 2 hours ago</span>
                                                                </p>
                                                                    <p class="small mb-0"
                                                                       th:text="${singleComment.creationDate}"></p>
                                                                </b>
                                                                <form th:action="@{/posts/like/__${singleComment.id}__}"
                                                                      method="post">

                                                                    <button type="submit"
                                                                            style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;">
                                                                        <a href="#" style="text-decoration: none;">
                                                                            <i class="fas fa-thumbs-up fa-xs"></i><span
                                                                                class="small">👍 Like</span>
                                                                        </a>
                                                                    </button>
                                                                    <span th:text="${singleComment.getLikedList().size()}"></span>
                                                                    Likes
                                                                </form>

                                                            </div>

                                                            <div style="display: flex; justify-content: flex-end;">

                                                                <div style="margin-right: 10px;" th:if="${singleComment.creator.getUsername() == session.currentUser}">
                                                                    <a href="#" th:href="@{__${requestURI}__/update/__${singleComment.id}__}" class="btn btn-primary">Edit</a>
                                                                </div>

                                                                <div th:if="${session.isAdmin}" style="margin-right: 10px;">
                                                                    <h3>|</h3>
                                                                </div>

                                                                <div th:if="${session.isAdmin} or ${post.creator.getUsername() == session.currentUser}">
                                                                    <a href="#" th:href="@{__${requestURI}__/delete/__${singleComment.id}__}" class="btn btn-primary">Delete</a>
                                                                </div>

                                                            </div>

                                                            <p class="content-around-l"
                                                               th:text="${singleComment.content}">
                                                                It is a long established fact that a reader will
                                                                be distracted by
                                                                the readable content of a page.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="~{/fragments/PageFrame :: footer}"></div>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
<!--<script src="../static/js/LikeButton.js" th:src="@{/js/LikeButton.js}"></script>-->
<script th:inline="javascript">
    // Function to handle like action
    function toggleLike() {
        var likeButton = document.getElementById('liked');
        var likeCountElement = document.getElementById('likeCount');

        // Send an HTTP POST request to the like endpoint
        fetch('/posts/like', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            },
            body: JSON.stringify({ /* Add any request payload if needed */}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to toggle like');
                }
                // Toggle the like state and update the like count
                if (likeButton.checked) {
                    likeCountElement.textContent = parseInt(likeCountElement.textContent) + 1;
                } else {
                    likeCountElement.textContent = parseInt(likeCountElement.textContent) - 1;
                }

            })
            .catch(error => {
                console.error('Error toggling like:', error);
                // Handle error scenario if needed
            });
    }
</script>
</body>
</html>
