<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Create your account')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<br/><br/>
<div class="card-body-centered">
    <div class="card mb-4">
        <div class="card-header">Create your account</div>
        <div class="card-body">
            <div class="input-group">
                <form th:replace="~{fragments/UserForm :: details('Create your account')}"></form>
            </div>

            <a class="btn btn-primary" type="submit" value="Register">Sign up</a>
        </div>
    </div>
   </div>
<br/>
<div th:replace="~{fragments/PageFrame :: footer}"></div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>